* {
  margin: 10px;
  background-color: dfe7fd;
}
.header {
  border: 5px solid black;
}
/*.header-img {
  width: 50px;
  height: 50px;
}*/
.nav-container {
  display: flex;
  flex-direction: row;
}

.links {
  /*flex: 2;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-container div {
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}
.name {
  flex: 1;
  align-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid black;
}

.project-heading {
  text-align: center;
}
.about-me-info {
  flex: 2;
  margin: 20px;
  padding: 20px;
}

.about-me-image {
  flex: 1;
  margin: 20px;
  padding: 20px;
  width: 60%;
  height: 50%;
}
/*.profile-image {
  width: 60%;
  height: 50%;
}
*/
.first-project {
  border: 5px solid;
}
.first-project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-container {
  display: flex;
  flex-direction: row;
  border: 5px solid;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: aqua;
}

.project-card {
  width: 18rem;
  margin: 10px;
}
.project-card img {
  width: 90%;
  object-fit: contain;
}
.project-info {
  text-align: center;
}
.contact-me-container {
  display: flex;
  flex-direction: row;
  background-color: bisque;
}
.contact-item {
  margin: 10px;
}

@media (max-width: 700px) {
  .nav-container,
  .links,
  .main,
  .section-container,
  .contact-me-container {
    display: flex;
    flex-direction: column;
  }
}
